[Unit]
Description=Node Exporter
After=network.target

[Service]
User=nodexporter
Group=nodexporter
Type=simple
ExecStart=/usr/local/bin/node-exporter

[Install]
WantedBy=multi-user.target
